*.la
*.so
*.lo
*.o
*.ltrace
*~

Makefile
Makefile.in

.deps
.dirstamp
.libs

/aclocal.m4
/autom4te.cache
/config
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/ltrace
/ltrace-*.tar.*
/stamp-h1

site.exp
site.bak
ltrace.log
ltrace.sum
testrun.log
testrun.sum

testsuite/ltrace.main/main
testsuite/ltrace.main/main-internal
testsuite/ltrace.main/parameters
testsuite/ltrace.main/signals
testsuite/ltrace.main/system_calls
testsuite/ltrace.minor/attach-process
testsuite/ltrace.minor/count-record
testsuite/ltrace.minor/demangle
testsuite/ltrace.minor/print-instruction-pointer
testsuite/ltrace.minor/time-record-T
testsuite/ltrace.minor/time-record-tt
testsuite/ltrace.minor/time-record-ttt
testsuite/ltrace.minor/trace-clone
testsuite/ltrace.minor/trace-exec
testsuite/ltrace.minor/trace-exec1
testsuite/ltrace.minor/trace-fork
testsuite/ltrace.torture/signals

