Makefile
config.h
ltrace
*.a
*.o
sysdeps/linux-gnu/arch_syscallent.h
sysdeps/linux-gnu/signalent.h
sysdeps/linux-gnu/signalent1.h
sysdeps/linux-gnu/syscallent.h
sysdeps/linux-gnu/syscallent1.h
sysdeps/linux-gnu/sysdep.h
