*.la
*.lo
*.o
*~

Makefile
Makefile.in

.deps
.dirstamp
.libs

/aclocal.m4
/autom4te.cache
/config
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/ltrace
/ltrace-*.tar.*
/stamp-h1
