#! /usr/bin/make -f 

build:
	$(MAKE)
	touch build

binary:		binary-arch binary-indep

binary-indep:

binary-arch:	build
	test root = "`whoami`" || exit 1
	$(RM) -rf debian/tmp

	install -d debian/tmp/DEBIAN
#	install -m 644 debian/conffiles debian/tmp/DEBIAN
	$(MAKE) install DESTDIR=`pwd`/debian/tmp
	install -m 644 README debian/tmp/usr/doc/ltrace
	install -m 644 BUGS debian/tmp/usr/doc/ltrace
	install -m 644 TODO debian/tmp/usr/doc/ltrace
	install -m 644 debian/changelog debian/tmp/usr/doc/ltrace
	gzip -9fv debian/tmp/usr/doc/ltrace/*
	install -m 644 debian/copyright debian/tmp/usr/doc/ltrace
	gzip -9f debian/tmp/usr/man/man1/*
	dpkg-shlibdeps debian/tmp/usr/bin/ltrace
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	dpkg --build debian/tmp ..

clean:
	$(RM) -f build debian/files debian/substvars
	$(MAKE) clean
	$(RM) -rf debian/tmp

